* {
  font-family: Helvetica;
}
h1{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url('https://github.com/piecesonnapkins/piecesonnapkins.github.io/blob/master/resources/images/20170628_095306-01.jpg?raw=true');
}
